<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазин</title>
</head>
<body>

<nav class="top-menu">
  <ul class="menu-main">
    <li class="left-item"><a href="/">Главная</a></li>
    <li class="right-item"><a href="/admin">Панель администратора</a></li>
</ul>
</nav>
