    <style>
        .body-ramki{
            margin: 0;
            margin-right: 45px;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 45px;
        }

        .form-control {
            display: block;
            width: 100%;
            padding: 0.375rem .75;
            font-size: 2rem;
            rem: ;
            font-weight: 400;
            line-height: 0.5;
            color: #212521;
            background-color: #FFF;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.55rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            }
        .nav {
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }
        .top-menu {
          position: relative;
          background: rgba(34,34,34,0.7);
        }
        .menu-main {
          list-style: none;
          margin: 0;
          padding: 0;
        }
        .menu-main:after {
          content: "";
          display: table;
          clear: both;
        }
        .left-item {float: left;}
        .right-item {float: right;}
        .navbar-logo {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }
        .menu-main a {
          text-decoration: none;
          display: block;
          line-height: 80px;
          padding: 0 20px;
          font-size: 18px;
          letter-spacing: 2px;
          font-family: 'Arimo', sans-serif;
          font-weight: bold;
          color: white;
          transition: .3s linear;
        }
        .menu-main a:hover {background: rgba(0,0,0,.3);}
        @media (max-width: 830px) {
        .menu-main {
          padding-top: 90px;
          text-align: center;
        }
        .navbar-logo {
          position: absolute;
          left: 50%;
          top: 10px;
          transform: translateX(-50%);
        }
        .menu-main li {
          float: none;
          display: inline-block;
        }
        .menu-main a {
          line-height: normal;
          padding: 20px 15px;
          font-size: 16px;
        }
        }
        @media (max-width: 630px) {
        .menu-main li {display: block;}
        }

        .btn1 {
            justify-self: right;
            margin: 0;
        }

        .btn11 {
            font-weight: 400!important;
            height: 24px;
            line-height: 1px;
            min-width: 0px!important;
            padding: 1px 2px;
            width: auto;
            border-radius: 15px;


        }
             .btn2 {
            justify-self: right;
            margin: 0;
        }

        .btn22 {
            font-weight: 400!important;
            height: 20px;
            line-height: 0px;
            min-width: 0px!important;
            padding: 3px 8px;
            width: auto;
            border-radius: 15px;
            min-width: 138px;
        }

        .btn23 {
    background: rgba(34,34,34,0.7);
    border: 1px solid #706464;
    color: #e8e8e8;
    font-weight: 400;
}

    {box-sizing: border-box; margin: 0;}
    .widget {
      padding: 20px 10px;
      background: white;
      font-family: 'Roboto', sans-serif;
    }
    .widget-title {
      font-size: 16px;
      padding-left: 15px;
      border-left: 2px solid #646464;
    }
    .widget-list {
      padding: 0;
      list-style: none;
    }
    .widget-list a:before {
      content: "\2014";
      margin-right: 14px;
    }
    .widget-list a {
      text-decoration: none;
      outline: none;
      display: block;
      padding: 6px 0;
      letter-spacing: 1px;
      font-weight: 300;
      color: #444;
      transition: .3s linear;
    }
    .widget-list a:hover {color: #b99d61;}


.col {
  width: 230px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}
.widget-title {
  margin: 0 0 30px;
  letter-spacing: 1px;
  overflow: hidden;
}
.widget-title:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  right: -15px;
  margin-right: -100%;
  border-top: 2px solid #646464;
}
.price-line {margin-bottom: 20px;}
.price-line:last-child {margin-bottom: 0;}
.price-line:after {
  content: "";
  display: table;
  clear: both;
}
.product-image {
  width: 80px;
  float: left;
}
.product-image a {
  display: block;
  outline: none;
}
.product-image img {
  display: block;
  width: 100%;
}
.product-content {
  float: left;
  margin-left: 5px;
  margin-top: 15px;

}
.product-title {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1;
}
.product-title a {
  text-decoration: none;
  color: #242424;
}
.price-box {
  color: #666;
  font-size: 18px;
  line-height: 1;
}


</style>